@-webkit-keyframes pcv-loading-animation {
  0% {
    top: 93px;
  }
  5% {
    top: 83px;
  }
  10% {
    top: 93px;
  }
}
#pcv-window {
  z-index: 1250;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: scroll;
  overflow-y: hidden;
  display: block;
  opacity: 1.0;
  -webkit-transition: all 0.5s ease-in-out;
}
#pcv-window a {
  color: #dddddd;
}
#pcv-window.invisible {
  bottom: -300px;
  opacity: 0.0;
}
#pcv-window #pcv-contents {
  width: 2052px;
}
#pcv-window #pcv-contents #pcv-list {
  float: left;
}
#pcv-window #pcv-contents #pcv-list li.pcv-image-item {
  float: left;
  margin: 0px 5px;
  padding: 10px 10px 0;
  height: 186px;
  width: 150px;
  /*&:last-child{
	  clear: left;
	}*/

}
#pcv-window #pcv-contents #pcv-list li.pcv-image-item a.pcv-work {
  display: block;
  text-align: center;
}
#pcv-window #pcv-contents #pcv-list li.pcv-image-item a.pcv-work h1.pcv-title {
  font-weight: bold;
}
#pcv-window #pcv-contents #pcv-list li.pcv-image-item a.pcv-work img.pcv-thumbnail {
  padding: 3px;
}
#pcv-window #pcv-contents #pcv-list li.pcv-image-item a.pcv-work:hover img.pcv-thumbnail {
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
#pcv-window #pcv-contents #pcv-list li.pcv-image-item a.pcv-user {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  font-size: 11px;
  line-height: 17px;
}
#pcv-window #pcv-contents #pcv-list li.pcv-image-item.here {
  background-color: rgba(255, 162, 81, 0.6);
}
#pcv-window #pcv-contents .pcv-loading {
  float: left;
  width: 36px;
  padding: 0 3px;
}
#pcv-window #pcv-contents .pcv-loading.disable {
  display: none;
}
#pcv-window #pcv-contents .pcv-loading .pcv-loading-pixel {
  display: block;
  float: left;
  margin-left: 3px;
  background-color: #fff;
  width: 3px;
  height: 3px;
  position: relative;
  top: 93px;
  -webkit-animation: pcv-loading-animation 2.5s linear 0 infinite normal;
}
#pcv-window #pcv-contents .pcv-loading .pcv-loading-pixel:nth-of-type(5n+1) {
  -webkit-animation-delay: 0.3s;
}
#pcv-window #pcv-contents .pcv-loading .pcv-loading-pixel:nth-of-type(5n+2) {
  -webkit-animation-delay: 0.6s;
}
#pcv-window #pcv-contents .pcv-loading .pcv-loading-pixel:nth-of-type(5n+3) {
  -webkit-animation-delay: 0.9s;
}
#pcv-window #pcv-contents .pcv-loading .pcv-loading-pixel:nth-of-type(5n+4) {
  -webkit-animation-delay: 1.2s;
}
#pcv-window #pcv-contents .pcv-loading .pcv-loading-pixel:nth-of-type(5n+5) {
  -webkit-animation-delay: 1.5s;
}
