      <li class="pcv-image-item">
        <a class="pcv-work" href="{{descriptionUrl}}" data-context="{{context}}">
	      <img class="pcv-thumbnail" src="{{thumbnailUrl}}" />
	      <h1 class="pcv-title" title="{{title}}">{{title}}</h1>
	      <span class="pcv-item-rank">{{rank}}</span>
	    </a>
	    <a class="pcv-user" title="{{artist}}" href="{{artistUrl}}">{{artist}}</a>
      </li>
